form{
  display: flex;
  flex-direction:column ;
  gap: 10px;
  padding: 10px;
  max-width: 340px;
  margin: 0 auto;
  /* border: 2px solid red; */
  /* background-color: #333; */
  border-radius: 8px;
  /* color: #fff; */
}
p{
  padding: 5px;
  color: fff;
}

.form-container{
  margin: 0 auto;
border: 1px solid #333;
max-width: 340px;
border-radius: 8px;
color: #333;
}